EXTERNAL_IP=xxx.xxx.xxx.xxx
MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=im
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=change_me_min8
WK_MODE=release
WK_CONVERSATION_ON=true
WK_WEBHOOK_GRPCADDR=tangsengdaodaoserver:6979
WK_DATASOURCE_ADDR=http://tangsengdaodaoserver:8090/v1/datasource
WK_DATASOURCE_CHANNELINFOON=true
WK_TOKENAUTHON=true
WK_WHITELISTOFFOFPERSON=false
WK_JWT_SECRET=change_me_jwt
TS_MODE=release
TS_WUKONGIM_APIURL=http://wukongim:5001
TS_DB_REDISADDR=redis:6379
TS_SMSCODE=123456
TS_FILESERVICE=minio
TS_AVATAR_DEFAULTBASEURL=https://api.dicebear.com/8.x/avataaars/png?seed={avatar}&size=180
TS_ADMINPWD=change_me_min8
TS_MINIO_UPLOADURL=http://minio:9000
