.wk-item-file-icon {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--wk-radius-sm);
}

.wk-item-file {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 0;
    padding: 10px 12px;
    border-radius: var(--wk-radius-md);
    transition: background-color var(--wk-layer-transition);
    cursor: pointer;
}

.wk-item-file:hover {
    background-color: var(--wk-hover);
}

body[theme-mode=dark] .wk-item-file:hover {
    background-color: var(--wk-hover);
}

.wk-item-file-icon {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.wk-item-file-name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-left: 12px;
    color: var(--wk-text-primary);
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wk-item-file-desc {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    margin-left: 12px;
    color: var(--wk-text-tertiary);
    font-size: 12px;
    align-items: center;
    min-width: 0;
}

.wk-item-file-line {
    width: 1px;
    height: 8px;
    background-color: var(--wk-border);
    margin: 0 6px;
    flex-shrink: 0;
}
