.wk-message-system {
    padding: 8px 20px;
    width: 85%;
    max-width: 480px;
    margin: 12px auto 0;
    text-align: center;
    font-size: 12px;
    line-height: 1.4;
    color: var(--wk-text-tertiary);
    white-space: pre-line;
}

body[theme-mode=dark] .wk-message-system  {
    color: var(--wk-text-tertiary);
}
