.wk-section {
  margin-top: 10px;
}

.wk-section:first-child {
  margin-top: 0px;
}

.wk-section-title {
  padding: 6px 12px;
  color: var(--wk-text-tertiary);
  font-size: 12px;
  font-weight: 500;
}

.wk-section-subtitle {
  padding: 6px 12px;
  color: var(--wk-text-tertiary);
  font-size: 12px;
}
